<div style="width: 100%" class="d-flex flex-wrap justify-content-between mt-2">
  <div>
    <h2>Contact Us</h2>
    <p>Address: London, UK</p>
    <p>Tel: 07348592038</p>
  </div>
  <iframe width=60%"  height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Malet%20St,%20London%20WC1E%207HU,%20United%20Kingdom+(Closture)&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
  </iframe>
</div>